@font-face {
  font-family: 'Lucida Sans';
  src: url('../images/fonts/LSANS.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Source Sans Pro';
  src: url('../images/fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../images/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.logo,
.btn {
  outline: none;                           
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #000117;
  background-image:  url('../images/bg-mob.webp');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
}

body > :last-child {
  flex: 1;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    min-height: 100vh;
  height: auto;
}

.logos {
  padding: 28px 0 32px 0;
  display: flex;
  justify-content: space-between;
  width: 315px;
  height: 50px;
  margin: 0 auto;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo1 {
  width: 102px;
  background-image: url('../logo-desk.webp');
}

.logo2 {
  width: 160px;
  background-image: url('../logo2-desk.webp');
}

.text-top {
  width: 312px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text-top-1 {
  font-family: Anton;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.text-top-2 {
  font-family: Anton;
  font-weight: 400;
  font-size: 32px;
  line-height: 111%;
  letter-spacing: -3%;
  text-align: center;
  color: rgba(255, 229, 0, 1);
  margin-bottom: 24px;
}
.btn {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 44px;
  background: rgba(255, 173, 0, 1);
  text-decoration: none;
  color: black;
  cursor: pointer;
  animation: scaleButton 2.5s ease-in-out infinite alternate;
  margin-bottom: 30px;

  z-index: 100;
}

.btn:active {
  background: rgb(252, 219, 102);
}

@keyframes scaleButton {
  0% { transform: scale(1); }
  50% { transform: scale(0.85); }
  100% { transform: scale(1); }
}

.corner {
  position: absolute;
  width: 68px;
  height: 100%;
  background-image: url('../pattern.png'); 
  background-size: cover;
  background-repeat: no-repeat;
}

.top-left {
  top: 0;
  left: 0;
  transform: rotate(-180deg);
}

.top-right {
  top: 0;
  right: 0;
}


.bottom1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.characters {
  margin: 0 auto;
  width: 375px;
  height: 310px;
  background-image: url('../images/char-tab.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
position: relative;
  z-index: 2;
  margin-top: -140px;
  width: 100%;
  padding-bottom: 23px;
  background: linear-gradient(0deg, #022784 71.73%, rgba(2, 39, 132, 0) 100%);


}

.footer-text {
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 302px;
  height: 67px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Source Sans Pro;
  color: rgba(241, 236, 231, 1);
;
  font-weight: 700;
  font-size: 14px;
  line-height: 34px;
  text-transform: capitalize;

}

.step-1 {
  background-image: url('../Frame1.png');
}

.step-2 {
  background-image: url('../Frame2.png');
}

.step-3 {
  background-image: url('../Frame3.png');
}

@media (min-width: 767px) and (max-width: 1025px) {
  body {
  background-image:  url('../images/bg-tab.webp');
}

  .logos {
    padding: 68px 0 48px 0;
    width: 650px;
    height: 95px;
  }

  .logo1 {
    width: 198px;
    height: 95px;
    background-image: url('../logo-desk.webp');
  }

  .logo2 {
    width: 336px;
    height: 95px;
    background-image: url('../logo2-desk.webp');
  }

.text-top {
  width: 540px;
}

.text-top-1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 30px;
}

.text-top-2 {
  font-size: 48px;
  margin-bottom: 48px;
}

.btn {
  font-size: 18px;
  width: 302px;
  height: 70px;
  margin-bottom: 30px;
}

.characters {
  margin: 0 auto;
  width: 672px;
  height: 621px;
  background-image: url('../images/char-tab.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer {
  margin-top: -160px;
  padding-bottom: 40px;
  background: linear-gradient(0deg, #022784 54.44%, rgba(2, 39, 132, 0) 100%);
}

.footer-text {
  font-size: 32px;
  margin-bottom: 48px;
}

.wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.step {
  width: 468px;
  height: 107px;
  font-size: 28px;
}

.step-1 {
  background-image: url('../Frame1-tab.png');
}

.step-2 {
  background-image: url('../Frame2-tab.png');
}

.step-3 {
  background-image: url('../Frame3-tab.png');
}

}

@media (min-width: 1026px) and (max-width: 1439px) {
  html {
    overflow: hidden;
  }
body {
  background-image:  url('../images/bg-desk.webp');
  overflow-y: hidden;
}

.block--1 {
  padding-top: 20px;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  align-items: top;
  box-sizing: border-box;
  position: relative;
  /* z-index: 700; */
}

.main {
  padding-top: 0;
}

  .logos {
    padding: 0 0 0 50px;
    width: 450px;
    height: 95px;
    margin: 0;
    align-items: center;
    margin-bottom: 45px;
  }

  .logo1 {
    width: 150px;
    height: 36px;
    background-image: url('../logo-desk.webp');
  }

  .logo2 {
    width: 280px;
    height: 65px;
    background-image: url('../logo2-desk.webp');
  }

.text-top {
  width: 450px;
  margin: 0;
  justify-content: center;
  align-items: start;
  padding-left: 50px;
  position: relative;
  z-index: 900;
}

.text-top-1 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.text-top-2 {
  font-size: 55px;
  margin-bottom: 30px;
  text-align: start;
}

.btn {
  font-size: 18px;
  width: 302px;
  height: 64px;
  margin-bottom: 30px;
  position: relative;
  z-index: 999;
}

.characters {
  width: 875px;
   height: 730px;
  overflow-y: hidden;
 
  background-image: url('../images/char-desk.png');
  background-position: bottom right;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-bottom: 40px;
  background: linear-gradient(0deg, #022784 0%, rgba(2, 39, 132, 0) 100%);
  z-index: 2;
}

.footer-text {
  font-size: 28px;
  margin-bottom: 16px;
}

.wrapp {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  gap: 16px;
}

.step {
  width: 297px;
  height: 86px;
  font-size: 22px;
  /* font-weight: 400; */
}

.step-1 {
  background-image: url('../Frame1-desk.png');
}

.step-2 {
  background-image: url('../Frame2-desk.png');
}

.step-3 {
  background-image: url('../Frame3-desk.png');
}

}


@media (min-width: 1440px) and (max-width: 1919px) {
  html {
    overflow: hidden;
  }
body {
  background-image:  url('../images/bg-desk.webp');
  overflow-y: hidden;
}

.block--1 {
  padding-top: 50px;
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
  overflow: hidden;
  align-items: top;
  box-sizing: border-box;
  position: relative;
  /* z-index: 700; */
}

.main {
  padding-top: 0;
}

  .logos {
    padding: 0 0 0 50px;
    width: 585px;
    height: 95px;
    margin: 0;
    align-items: center;
    margin-bottom: 80px;
  }

  .logo1 {
    width: 198px;
    height: 95px;
    background-image: url('../logo-desk.webp');
  }

  .logo2 {
    width: 336px;
    height: 65px;
    background-image: url('../logo2-desk.webp');
  }

.text-top {
  width: 660px;
  margin: 0;
  justify-content: center;
  align-items: start;
  padding-left: 50px;
  position: relative;
  z-index: 900;
}

.text-top-1 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.text-top-2 {
  font-size: 68px;
  margin-bottom: 30px;
  text-align: start;
}

.btn {
  font-size: 18px;
  width: 302px;
  height: 64px;
  margin-bottom: 30px;
  position: relative;
  z-index: 999;
}

.characters {
  width: 875px;
   height: 730px;
  overflow-y: hidden;
 
  background-image: url('../images/char-desk.png');
  background-position: bottom right;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-bottom: 40px;
  background: linear-gradient(0deg, #022784 0%, rgba(2, 39, 132, 0) 100%);
  z-index: 2;
}

.footer-text {
  font-size: 36px;
  margin-bottom: 16px;
}

.wrapp {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1150px;
  gap: 16px;
}

.step {
  width: 297px;
  height: 86px;
  font-size: 22px;
  /* font-weight: 400; */
}

.step-1 {
  background-image: url('../Frame1-desk.png');
}

.step-2 {
  background-image: url('../Frame2-desk.png');
}

.step-3 {
  background-image: url('../Frame3-desk.png');
}

}


@media (min-width: 1920px) {

    html {
    overflow: hidden;
  }
body {

  background-image:  url('../images/bg-desk.webp');
  overflow: hidden;
}

.block--1 {
  padding-top: 50px;
  display: flex;
  margin: 0 auto;
  max-width: 2000px;
  height: 100%;
  overflow: hidden;
  align-items: top;
}

.main {
  padding-top: 70px;
}

  .logos {
    padding: 0 0 0 50px;
    width: 585px;
    height: 95px;
    margin: 0;
    align-items: center;
    margin-bottom: 100px;
  }

  .logo1 {
    width: 198px;
    height: 95px;
    background-image: url('../logo-desk.webp');
  }

  .logo2 {
    width: 336px;
    height: 65px;
    background-image: url('../logo2-desk.webp');
  }

.text-top {
  width: 550px;
  margin: 0;
  justify-content: center;
  align-items: start;
  padding-left: 50px;
}

.text-top-1 {
  font-size: 48px;
  line-height: 130%;
  margin-bottom: 30px;
}

.text-top-2 {
  font-size: 80px;
  margin-bottom: 36px;
  text-align: start;
}

.btn {
  font-size: 24px;
  width: 350px;
  height: 70px;
  margin-bottom: 30px;
}

.characters {
  width: 1139px;
  height: 985px;
  background-image: url('../images/char-desk.png');
  background-position: bottom;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-bottom: 40px;
  background: linear-gradient(0deg, #022784 0%, rgba(2, 39, 132, 0) 100%);

  z-index: 2;
}

.footer-text {
  font-size: 38px;
  margin-bottom: 30px;
}

.wrapp {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1145px;
}

.step {
  width: 297px;
  height: 107px;
  font-size: 28px;
}

.step-1 {
  background-image: url('../Frame1-desk.png');
}

.step-2 {
  background-image: url('../Frame2-desk.png');
}

.step-3 {
  background-image: url('../Frame3-desk.png');
}


}











