@font-face {
  font-family: 'Lucida Sans';
  src: url('../images/fonts/LSANS.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.logo,
.btn {
  outline: none;                           
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #000117;
  background-image:  url('../images/bg-mob.webp');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
}

body > :last-child {
  flex: 1;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    min-height: 100vh;
  height: auto;
}

.logos {
  padding: 28px 0 32px 0;
  display: flex;
  justify-content: space-between;
  width: 315px;
  height: 50px;
  margin: 0 auto;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo1 {
  width: 102px;
  background-image: url('../logo-desk.webp');
}

.logo2 {
  width: 160px;
  background-image: url('../logo2-desk.webp');
}

.text-top {
  width: 312px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-top-1 {
  font-family: Aclonica;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.text-top-2 {
  font-family: Aclonica;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: -3%;
  text-align: center;
  color: #FFE617;
  text-shadow: 0.88px 1.75px 0px rgba(120, 85, 7, 1);
  margin-bottom: 24px;
}
.btn {
  box-sizing: border-box;
  font-family: Lucida Sans;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 44px;
  background: rgba(255, 225, 117, 1);
  border: 1px solid rgba(246, 143, 0, 1);
  text-decoration: none;
  color: rgba(129, 34, 0, 1);
  cursor: pointer;
  animation: scaleButton 2.5s ease-in-out infinite alternate;
  margin-bottom: 30px;
}

.btn:active {
  background: rgb(252, 219, 102);
}

@keyframes scaleButton {
  0% { transform: scale(1); }
  50% { transform: scale(0.85); }
  100% { transform: scale(1); }
}

.corner {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../images/mobile/button-elem.webp'); 
  background-size: contain;
  background-repeat: no-repeat;
}

.top-left {
  top: 4px;
  left: 4px;
  transform: rotate(-90deg);
}

.top-right {
  top: 4px;
  right: 4px;
}

.bottom-left {
  bottom: 4px;
  left: 4px;
  transform: rotate(-180deg);
}

.bottom-right {
  bottom: 4px;
  right: 4px;
  transform: rotate(90deg);
}

.bottom1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.characters {
  margin: 0 auto;
  width: 375px;
  height: 310px;
  background-image: url('../images/char-mob1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
position: relative;
  z-index: 2;
  margin-top: -140px;
  width: 100%;
  padding-bottom: 23px;
  background: linear-gradient(0deg, #000000 56.65%, rgba(0, 0, 0, 0) 102.25%);

}

.footer-text {
  font-family: Aclonica;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.step {
  width: 233px;
  height: 64px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.step-1 {
  background-image: url('../Frame-mob-1.png');
}

.step-2 {
  background-image: url('../Frame-mob-2.png');
}

.step-3 {
  background-image: url('../Frame-mob-3.png');
}

@media (min-width: 481px) and (max-width: 766px) {

}

@media (min-width: 767px) and (max-width: 1439px) {
  body {
  background-image:  url('../images/bg-tab.webp');
}

  .logos {
    padding: 68px 0 48px 0;
    width: 650px;
    height: 95px;
  }

  .logo1 {
    width: 198px;
    height: 95px;
    background-image: url('../logo-desk.webp');
  }

  .logo2 {
    width: 336px;
    height: 95px;
    background-image: url('../logo2-desk.webp');
  }

.text-top {
  width: 650px;
}

.text-top-1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 30px;
}

.text-top-2 {
  font-size: 48px;
  margin-bottom: 48px;
}

.btn {
  font-size: 18px;
  width: 302px;
  height: 64px;
  margin-bottom: 30px;
}

.characters {
  margin: 0 auto;
  width: 696px;
  height: 621px;
  background-image: url('../images/char-tab.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer {
  margin-top: -245px;
  padding-bottom: 40px;
  background: linear-gradient(0deg, #000000 26.35%, rgba(0, 0, 0, 0) 102.25%);
}

.footer-text {
  font-size: 24px;
  margin-bottom: 28px;
}

.wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.step {
  width: 419px;
  height: 100px;

}

.step-1 {
  background-image: url('../Frame-mob-1.png');
}

.step-2 {
  background-image: url('../Frame-mob-2.png');
}

.step-3 {
  background-image: url('../Frame-mob-3.png');
}

}


@media (min-width: 1440px) and (max-width: 1919px) {
body {
  background-image:  url('../images/bg-desk.webp');
  overflow: hidden;
}

.block--1 {
  padding-top: 50px;
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
  overflow: hidden;
  align-items: top;
}

.main {
  padding-top: 30px;
}

  .logos {
    padding: 0 0 0 50px;
    width: 585px;
    height: 95px;
    margin: 0;
    align-items: center;
    margin-bottom: 60px;
  }

  .logo1 {
    width: 198px;
    height: 95px;
    background-image: url('../logo-desk.webp');
  }

  .logo2 {
    width: 336px;
    height: 65px;
    background-image: url('../logo2-desk.webp');
  }

.text-top {
  width: 660px;
  margin: 0;
  justify-content: center;
  align-items: start;
  padding-left: 50px;
}

.text-top-1 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.text-top-2 {
  font-size: 78px;
  margin-bottom: 30px;
  text-align: start;
}

.btn {
  font-size: 18px;
  width: 302px;
  height: 64px;
  margin-bottom: 30px;
}

.characters {
  width: 875px;
  height: 772px;
  background-image: url('../images/char-desk.png');
  background-position: bottom right;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-bottom: 40px;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 102.25%);
  z-index: 2;
}

.footer-text {
  font-size: 36px;
  margin-bottom: 16px;
}

.wrapp {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1600px;
  gap: 16px;
}

.step {
  width: 419px;
  height: 100px;
}

.step-1 {
  background-image: url('../Frame-desk-1.png');
}

.step-2 {
  background-image: url('../Frame-desk-2.png');
}

.step-3 {
  background-image: url('../Frame-desk-3.png');
}

}


@media (min-width: 1920px) {
body {
  /* padding-top: 40px; */
  background-image:  url('../images/bg-desk.webp');
  overflow: hidden;
}

.block--1 {
  padding-top: 50px;
  display: flex;
  margin: 0 auto;
  max-width: 2000px;
  overflow: hidden;
  align-items: top;
}

.main {
  padding-top: 70px;
}

  .logos {
    padding: 0 0 0 50px;
    width: 585px;
    height: 95px;
    margin: 0;
    align-items: center;
    margin-bottom: 100px;
  }

  .logo1 {
    width: 198px;
    height: 95px;
    background-image: url('../logo-desk.webp');
  }

  .logo2 {
    width: 336px;
    height: 65px;
    background-image: url('../logo2-desk.webp');
  }

.text-top {
  width: 660px;
  margin: 0;
  justify-content: center;
  align-items: start;
  padding-left: 50px;
}

.text-top-1 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.text-top-2 {
  font-size: 78px;
  margin-bottom: 30px;
  text-align: start;
}

.btn {
  font-size: 18px;
  width: 302px;
  height: 64px;
  margin-bottom: 30px;
}

.characters {
  width: 1167px;
  height: 1029px;
  background-image: url('../images/char-desk.png');
  background-position: bottom right;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-bottom: 40px;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 102.25%);
  z-index: 2;
}

.footer-text {
  font-size: 36px;
  margin-bottom: 16px;
}

.wrapp {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 2000px;
  gap: 16px;
}

.step {
  width: 419px;
  height: 100px;
}

.step-1 {
  background-image: url('../Frame-desk-1.png');
}

.step-2 {
  background-image: url('../Frame-desk-2.png');
}

.step-3 {
  background-image: url('../Frame-desk-3.png');
}


}











